html{
    scroll-behavior: smooth;
    
}
body{
    margin: 0px;
    background: #111111;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background: #333333;
    height: 50px;
}

header ul {
    margin: 0px;
    overflow: hidden;
    height: 50px;
}
header ul li{
    float: left;
    width: 24%;
    padding: 8px 0px;
    display: inline;
    text-align: center;
    font-size: 1.5em;
    text-decoration: none;
}

header ul li:hover{
    background-color: #222222;
}

