html{
    scroll-behavior: smooth;
    
}
body{
    margin: 0px;
    background: #111111;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
header{
    background: #333333;
    height: 50px;
}

header ul {
    margin: 0px;
    overflow: hidden;
    height: 50px;
}
header ul li{
    float: left;
    width: 19%;
    padding: 8px 0px;
    display: inline;
    text-align: center;
    font-size: 1.5em;

}

header ul li a{
    text-decoration: none;
    color: white;
}

header ul li:hover{
    background-color: #222222;
}

.title{
    font-size: 15em;
    padding-top:100px ;
    text-align: center;
    padding-bottom: 0.2em;
    margin-bottom: 0px;
}

.scroll-arrow{
    font-size: 15em;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50PX;
}