.title{
    font-size: 15em;
    padding-top:100px ;
    text-align: center;
    padding-bottom: 0.2em;
    margin-bottom: 0px;
}

.scroll-arrow{
    font-size: 15em;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50PX;
}

.pc {
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    animation: fadein 0.5s;
    animation-play-state: paused;
    animation-delay: calc(var(--scroll) * -1s);
}
  

.parts{
    font-size: 6em;
    text-align: center;
    padding-top: 2em;
}

.parts .left{
    margin-top: 3em;
}

.parts .left img{
    vertical-align: middle;
    width: 40%;
    margin-left: 5%;
    margin-right: 15%;
}
.parts .right{
    margin-top: 3em;
}
.parts .right img{
    vertical-align: middle;
    width: 40%;
    margin-left: 15%;
    margin-right: 5%;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}
